# See http://help.github.com/ignore-files/ for more about ignoring files.

.bundle
output.html

# misc
.ruby-gemset

**/.DS_Store

.idea/

# Ignore locally-installed rubygems (bundle install --path bundle)
bundle/

# Ignore output files
output/

screenshots
*.swp
*.swo
